<div id="login" class="standard_form">
	<h1>Login</h1>

	<% form_tag session_path do %>
	<label for="login">
		Username<br />
		<input class="text" id="login" name="login" style="width: 25em;" tabindex="1" type="text" value="" />
	</label>
	
	<label for="password">
		Password <br />
		<input class="text" id="password" name="password" style="width: 25em;" tabindex="2" type="password" value="" />
	</label>

	<p><%= submit_tag 'Log in' %></p>
	<% end -%>

</div>