<div id="title">
	deNachtDienst
</div>

<div id="wrapper">	
	<ul id="tracklist">
		<% cache do %>
		<% @track.each do |t| %>
		<li><span class="informatie"><%= t.name %></span>
			<span class="meta">
				<% if t.mp3.exists? then %>
					<%= link_to image_tag("download.png", :alt => 'Download'), t.mp3.url %>
				<% end %>
				<%= link_to image_tag("attach.png", :alt => 'Link'), t %>
			</span>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>	
