<div id="title">
	<h2>deNachtDienst</h2>
</div>

<div id="wrapper">
	<ul class="playlist">
	<% @track.each do |t| %>
		<li><%= link_to t.name, t.mp3.url %>
		</li>
	<% end %>
	</ul>	
</div>

<%= render :partial => "/tracks/pageplayer" %>

<%= render :partial => "/layouts/footer" %>
