<% content_for :title, "All tracks" %>
<% content_for :meta, "Website van de Nachtdienst, een vriendengroep die veel bezig is met muziek" %>

	<ul class="playlist">
	  <li id="intro">Nightshift baby!</li>
	<% @track.each do |t| %>
		<li id="track-<%= t.id %>"><%= link_to(h(t.name), t.mp3.url) %>
		</li>
	<% end %>
	</ul>

<%= render "/tracks/pageplayer" %>

<%= render "/layouts/footer" %>
