<div id="title">
	deNachtDienst
</div>

<div id="wrapper">	
	<ul id="tracklist">
		<% @track.each do |t| %>
		<li><%= t.name %>
			<% if t.mp3.exists? then %>
				<%= link_to 'download', t.mp3.url %>
				<% end %>
				<%= link_to 'Show', t %>
			</li>
		<% end %>
	</ul>
</div>	
