<%= error_messages_for :track %>
<% form_for @track, :url => { :action => "create" } do |f| %>

<p><%= label_tag 'name' %><br/>
<%= f.text_field :name %></p>

<p><%= submit_tag 'submit' %></p>
<% end -%>