<div class="standard_form">
	<%= error_messages_for :track, :header_message => "Oh noes", :message => "We hebben wat probleempjes"  %>
	<% form_for @track, :url => { :action => "create" } do |f| %>

	<p><%= label_tag 'Naam van de track' %><br/>
	<%= f.text_field :name %></p>

	<p><%= submit_tag 'submit' %></p>
	<% end -%>
</div>