<div id="wrapper">
	<ul id="tracklist" class="graphic">
		<li><a href="<%= @track.mp3.url %>"><%= @track.name %></a>
			<span class="meta"> 
			<%= link_to image_tag("download.png", :alt => 'Download'), @track.mp3.url, :class => 'download' %>
			<%= link_to image_tag("attach.png", :alt => 'Link'), @track %>		
			</span>
		</li>
	</ul>	
</div>