<%= content_for :title, @track.name %>

<div id="wrapper">
	<ul class="playlist">
		<li id="track-<%= @track.id %>"><%= link_to @track.name, @track.mp3.url %>
		</li>
	</ul>
</div>

<%= render "/tracks/pageplayer" %>
