ul.playlist {
list-style-type: none;
margin: 0px;
padding: 0px;
}

ul.playlist li {
position:relative;
display: block;
width: auto;
font-size: 18px;
color: #666;
border-bottom: 1px solid #cacaca;
letter-spacing: 0px; 
background-color:#fff;
}

ul.playlist li a:hover{
cursor: pointer;
}

ul.playlist li a {
margin-left: 22px;
display: block;
text-decoration: none;
font-weight: normal;
color: #000;
font-size: 20px;
line-height: 2.5em;
height: 50px;
outline: none;
position: relative;
z-index: 2;
text-shadow: 0 0 0 #fff;
}

ul.playlist li.sm2_playing,
ul.playlist li.sm2_paused,
ul.playlist li.sm2_playing a {
color: #000;
}

ul.playlist li:hover {
background-color:#f2f2f2;
}

ul.playlist li:hover a {
color: #333;
}

ul.playlist li.sm2_playing,
ul.playlist li.sm2_playing:hover {
background-color: #eee;
}

ul.playlist li.sm2_paused {
background-color: #f0f0f0;
}

ul.playlist li.sm2_playing a.sm2_link,
ul.playlist li.sm2_paused a.sm2_link {
margin-right: 4.5em;
}

ul.playlist li .timing {
position: absolute;
display: none;
text-align: right;
right: 1em;
top: 0px;
width: auto;
height: 1em;
padding-right :5px;
letter-spacing: 0px;
font: 20px Arial,courier,system;
color: #555;
line-height: 2.5em;
vertical-align: middle;
}

ul.playlist li.sm2_playing .timing,
ul.playlist li.sm2_paused .timing {
display: block;
color: green;
}

ul.playlist li.sm2_paused .timing .sm2_position {
text-decoration: blink; 
}

ul.playlist li.sm2_paused .timing {
color: red;
}

.controls, .peak, .spectrum-container{
height: 0px;
display: none;
}

.hidden{
  display: none;
}