/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* DND */

body{
	background: url(../images/bg.jpg) center top repeat-y #0d0d0f;
    background-attachment: fixed;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

p{
	margin-top: 10px;
}
input{
	margin-top: 5px;
}

#header{
	margin-bottom: 50px;
	width: 100%;
	height: 50px;
	background: #8B8BB1;
}

#userinfo{
	float: right;
	padding: 15px;
}

#notification {
	width: 250px;
	border: 5px solid #9c9; 
	background-color: #cfc; 
	padding: 5px; 
	margin: 10px auto;
}

div#title{
	padding-left: 20px;
	color: #fff;
	font-size: 2em;
	line-height: 1.3em;
	height: 20px;
	width: 200px;
	float: left;
}

#wrapper{
	margin: 0 auto;
	width: 420px;
}

/* Tracklisting */

#tracklist{
	font-family: Georgia, serif;
	font-size: 1.2em;
	line-height: 1.2em;
}

#tracklist li{
	width: 400px;
	height: 20px;
	background: #fcc;
	padding: 20px;
}

.meta{
	text-align: right;
	font-size: 0.7em;
	float: right;
}

.meta img{
	padding: 2px;
}

.informatie{
	float: left;
}

/* Form related styles */

.standard_form{
	background-color: #EAF2F5;
	border: 20px solid #DDDDDD;
	margin: 3em auto 0;
	padding: 2em 2em 1em;
	width: 31em;
}

.standard_form form label, .standard_form form .label, label.standard{
	color: #666666;
	display: block;
	font-size: 110%;
	margin: 1em 0 0;
}

.standard_form form input.text {
	font-size: 110%;
}

.standard_form form input.text, .standard_form form textarea {
	border: 1px solid #888888;
	padding: 5px;
}