/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* DND */

body{
	background: url(../images/bg.jpg) center top repeat-y #0d0d0f;
    background-attachment: fixed;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

p{
	margin-top: 10px;
}
input{
	margin-top: 5px;
}

#userinfo{
	position: absolute;
	top: 0px;
	right: 0px;
	background: #cafaba;
	padding: 15px;
}

#notification { 
	border: 5px solid #9c9; 
	background-color: #cfc; 
	padding: 5px; 
	margin: 10px 0; 
}

#title{
	padding: 20px;
	background: #ABCABA;
	position: absolute;
	top: 40px;
	left: 0px;
}

/* Tracklisting */

ul#tracklist{
	width: 420px;
	margin: 0 auto;
}

#tracklist li{
	margin-top: 5px;
	width: 400px;
	background: #fcc;
	padding: 10px;
}

/* Form related styles */

.standard_form{
	background-color: #EAF2F5;
	border: 20px solid #DDDDDD;
	margin: 3em auto 0;
	padding: 2em 2em 1em;
	width: 31em;
}

.standard_form form label, .standard_form form .label, label.standard{
	color: #666666;
	display: block;
	font-size: 110%;
	margin: 1em 0 0;
}

.standard_form form input.text {
	font-size: 110%;
}

.standard_form form input.text, .standard_form form textarea {
	border: 1px solid #888888;
	padding: 5px;
}