<div id="wrapper">
	<p class="introductie"><%= @user.name %></p>
	<ul class="playlist">
	<% @track.each do |t| %>
		<li><%= link_to t.name, t.mp3.url %>
		</li>
	<% end %>
	</ul>	
</div>

<%= render :partial => "/tracks/pageplayer" %>
