<% content_for :head do %>
	<%= auto_discovery_link_tag :rss, {:controller => "tracks", :action => "userrss"} %>
<% end %>

<div id="wrapper">
	<p class="introductie"><%= @user.name %></p>
	<ul class="playlist">
	<% @track.each do |t| %>
		<li><%= link_to t.name, t.mp3.url %>
		</li>
	<% end %>
	</ul>	
</div>

<%= render :partial => "/tracks/pageplayer" %>
