<div id="footer">
	
	<div id="artists">
		<% @user.each do |u| %>		
			<div class="artist"><%= link_to image_tag(u.avatar.url(:thumb), :alt => u.name), u %></div>
		<% end %>
	</div>

</div>

<div id="credits">
	<p>een <a href="http://www.ikbenbitterzoet.com" title="ik ben Bitterzoet">Bitterzoet</a> productie &mdash; </p>
</div>
